<div class="container">
<div class="col-md-6 col-md-offset-3">

	<div ng-controller="PhoneBook">
		<div class="page-header">
			<h1>Duriana</h1>
		</div>

		<%= form_for '', :html => {class: 'form-inline', "ng-submit" => "addName()"} do |f|  %>
			<%= f.text_field :name, class: 'form-control', placeholder: 'Full Name', "ng-model" => "userName" %>
			<%= f.text_field :phone, class: 'form-control', placeholder: 'Phone Number', "ng-model" => "userPhone" %>
	        <%= f.submit "Add", class: "btn btn-primary" %>
	    <% end %>

	    <hr>

	    <%= @phone.name.inspect %>

		<table class="table table-bordered">
		  <thead>
		  	<tr class="active">
		  		<th>User</th>
		  		<th>Phone Number</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="user in users">
		  		<td>{{user.name}}</td>
		  		<td>{{user.phone}}</td>
		  	</tr>
		  </tbody>
		</table>
	</div>

</div>
</div>